<h1><%= @product.name %></h1>
<h4>$<%= @product.formatted_price %></h4>
<p><%= @product.description %></p>

<h3>Reviews</h3>
<div id="reviews">
  <%= render @reviews if reviews.count > 0 %>
</div>

<h4>Add a review:</h4>
<% if current_user %>
  <%= render :partial => 'reviews/form', locals: {product: @product, review: @new_review} %>
<% else %> 
  <p><%= link_to "Sign up", new_user_path %> or <%= link_to "log in", new_session_path %> to add a review for this product.</p>
<% end %>



<p><% if current_user %>
  <% if @product.user_id == current_user.id %>
  <%= link_to "Edit Product", edit_product_path(@product) %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Delete Product", @product, :method => :delete %>
<% end %><% end %></p>
<p><%= link_to "Back to all Products", products_path %></p>